# NEXT_PUBLIC_SANITY_PROJECT_ID=ksr83qp0
# NEXT_PUBLIC_SANITY_DATASET=production
# NEXT_PUBLIC_SANITY_API_VERSION=2026-04-15

# Optional - Only needed for private datasets
# SANITY_API_READ_TOKEN=your_sanity_read_token
# SANITY_API_WRITE_TOKEN=your_sanity_write_token
